doctype html
html
  head
    title Anime Link Grabber GUI - #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/js/jquery-2.1.1.min.js')
    script(src='/js/socket.io.js')
    script(src='/js/core.js')
  body
    header
      h1 Link Grabber
    .container
       block page
    footer
