body{
	margin:0;
	background-color: #FFFFFF;
}
header{
	background-color: #6684D2;
	border-bottom: 1px #314373 solid;
	color: #CACACA;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	height: 60px;
	text-align:center;
}
span{
	border: 1px solid #454545;
	padding: 5px;
	margin: 7px;
	border-radius:5px;
}
video{
	width:100%;
	position: fixed;
}
select{
	background-color: rgba(255, 255, 255, 0);
}
.container{
	border: 1px solid #454545;
	width: 800px;
	margin-top: 70px;
	padding: 5px;
	border-radius: 5px;
	margin-left: -400px;
	margin-right: auto;
	position: absolute;
	top: 70px;
	left: 50%;
	background-color: rgba(69, 69, 69, 0.28);
	color: #000;
	/* text-shadow: 3px 2px 3px #000; */
}
.main-content{
	margin-top:15px;
}
#list{
	white-space:pre;
}
input[type='text']{
	display:block;
	/* background-color: rgba(232, 232, 232, 0); */
	/* color: #FFF; */
}
