<div>
	<input id="link" autocomplete="off" type="text" placeholder="http://" name="link">
	<select id="stream">
		<option value="streamcloud">Streamcloud</option>
		<option value="firedrive">FireDrive</option>
		<option value="nowvideo">NowVideo</option>
	</select>
	<button id="getlink" onclick="loadLink()">GetLink</button>
	<div id="state"></div>
	<div id="field"></div>
</div>